<%- include('header'); %>
  <style>
    html {
      height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
  </style>
  
  <div class="store-content">
    <h1>Store</h1>

    <% if (locals.message) { %>
      <span class="message"><%= message %></span>
    <% } %>

    <div class="store-card">
      <img src="../img/grey-boots.jpg">
      <hr>
      <div class="container">
        <h4><b>Grey Boots</b></h4> 
        <p>$249.00</p>
        <form id="orderForm" action='/store' method='post'>
          <button type="submit">Order</button>
        </form>
      </div>
    </div>

  </div>

<%- include('footer'); %>
