<%- include('header'); %>
  <style>
    html {
      height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
  </style>
  
  <div class="store-content">
    <h1>Store</h1>
    <% if (locals.message) { %>
      <span class="message"><%= message %></span>
    <% } %>

    <form id="transferForm" action='/store' method='post'>
      <span>Transfer From: </span> 
      <select required name='from' id='from'>
        <option value="checking">Checking</option>
        <option value="savings">Savings</option>
      </select>
      <span> to: </span>
      <select required name='to' id='to'>
        <option value="checking">Checking</option>
        <option value="savings">Savings</option>
      </select>
      <input type="number" name="amount" id="amount" required placeholder="amount" step="0.01">
      <button type="submit">Transfer</button>
    </form>
  </div>

<%- include('footer'); %>
