<%- include('header'); %>
  <style>
    html {
      height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
  </style>
  
  <div class="store-content">
    <h1>Store</h1>
    <% if (locals.message) { %>
      <span class="message"><%= message %></span>
    <% } %>

    <form id="orderForm" action='/store' method='post'>
      <img src="../img/grey-boots.jpg">
      <button type="submit">Order</button>
    </form>
  </div>

<%- include('footer'); %>
